<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
        body {
            background-color: #d5d8dc;
            overflow-x: hidden;
        }
        .presentacion {
            margin-top: 240px;
            margin-left: 50px;
            padding: 30px;
            text-align: justify;
            background-color: #f2d7d5;
            border-radius: 10px;
            box-shadow: 6px 5px 43px 11px rgba(0, 0, 0, 0.27);
        }
        .presentacion p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <!-- Incrustación de código del header, ya que se va a encontrar en todas las páginas -->
    <div th:include="header.html::header-app"></div>
    <div class="presentacion container">
        <div class="row">
            <div class="col-md-5">
                <p>Te presento la aplicación web para clínicas veterinarias.</p>
                <p>Diseñada para optimizar la gestión de tu clínica, te permite almacenar y organizar fácilmente los datos tanto de dueños como de sus mascotas.</p>
                <p>Podrás vincular a cada dueño con múltiples mascotas y registrar cada consulta o atención médica realizada, generando una completa historia clínica que podrás consultar, editar e incluso imprimir en cualquier momento.</p>
                <p>Con una interfaz intuitiva y funcionalidades avanzadas, nuestro sistema está desarrollado con las mejores tecnologías: Java Spring Boot, MySQL, Thymeleaf y Bootstrap, bajo un robusto modelo multicapa que asegura seguridad y rendimiento.</p>
            </div>
            <div class="col-md-7 text-center pt-4">
                <img src="https://cdn.icon-icons.com/icons2/1949/PNG/512/free-30-instagram-stories-icons53_122600.png" alt="Icono representativo de la aplicación" width="400px" class="pe-2"/>
            </div>
        </div>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
